body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://image.freepik.com/free-vector/natural-resources_24908-47470.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}